
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  
  td {
    text-align: left;
  }
 
  
  caption {
    padding: 10px;
  }